= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, "タスク名"
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :detail, "詳細"
    = f.text_field :detail, class: 'form-control'
  .actions
    = f.submit '保存', class: 'btn btn-primary'
