!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    %meta{ content: 'ja' }
    %meta{ name: "author", content: "やまはれ" }
    %title Taskman
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    = render 'layouts/navbar'

    %div.container.p-3
      = yield

    - if Rails.env.development?
      %div.container.p-3
        %div.center.card.bg-light
          = debug(params)
